<div class="calculator">

    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> 
            <input id="operator1" [(ngModel)]="operator1" type="number" class="form-control operator1" name="operator1" placeholder="0.0">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="operator2" [(ngModel)]="operator2" type="number" class="form-control operator2" name="operator2" placeholder="0.0">
        </div>
    </form>

    <i class="glyphicon glyphicon-plus addition-button"
        (click)="addition()"></i>
    <br>
    <i class="glyphicon glyphicon-minus substraction-button"
        (click)="substraction()"></i>
    <br>
    <i class="glyphicon glyphicon-remove substraction-button"
        (click)="multiplication()"></i>
    <br>
    <i class="glyphicon glyphicon-italic substraction-button"
        (click)="division()"></i>
    <br>
    <i class="glyphicon glyphicon-menu-up substraction-button"
        (click)="exp()"></i>
    <br>
    <i class="glyphicon glyphicon-superscript substraction-button"
        (click)="sqr()"></i>
    <br>
    <i class="glyphicon glyphicon-console substraction-button"
        (click)="sqrt()"></i>

</div>

<span class="result">{{ result }}</span>